select:invalid { color: #757575; }

.App {
  border: 1px solid blue;
  margin: 0 auto;
  width: 90vw;
  height: 100%;
  min-height: 90vh;
  text-align: center;
}
html {
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
}
.home-wrapper{}
/* header */
.App-header {
  
}
.header {
  background: dodgerblue;
  min-height: 10vh;
  padding: 1%;
  display: flex;
  justify-content: space-between;
}
.buttons-wrapper{
  display: flex;
  align-items: center
}
.logout-button {


}
.logout-button:hover {
  width: 200px;
  height: 75px;
  cursor: pointer;
  background-image: url('./images/t/matrix-blue.jpg') ;
  background-size: cover;
  color: white;
  font-size: 24px;
  border-radius: 5px;
  background-repeat: no-repeat;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* text-align: right; */
}

/* tabs */
/* .ui.tabular.menu .item {
  width: 33%;
} */
.tabs {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.tab {
  width: 25%;
  color: teal;
  font-size: 16px;
  line-height: 2;
  border-radius: 5px;
  border: 0.5px solid teal;
}
.tab:hover {
  color: white;
  cursor:pointer;
  background-color: dodgerblue;
}
.tab-active {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  background:teal;
  color: white;
  /* width: 100% */
}
.instructors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* .classes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
} */
/* admin */
.admin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* text-align: center; */
}
.admin {
  font-weight: bold;
}
.h3 {
  text-align: center;
  /* margin-top: 5px; */
}
.admin-button {
  width: 50%;
  margin: 15px auto;
  background-color: teal;
  color: white;
  height: 25px;
}
.admin-button:hover {
  color: dodgerblue;
  cursor:pointer;
  background-color: white
}
.create-class {
  border: 1px solid teal;
  width: 50%;
  margin: 0 auto;
}
.create-class-form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}
.create-class-type {
  border: 1px solid teal;
  width: 50%;
  margin: 0 auto;
}
.create-class-type-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
}
.datePicker {
  display: flex;
  justify-content: center;
}
.create-class-type-form {
  display: flex;
  flex-direction: column;
}
.classes-title {
  background: teal;
  color: white;
  height: 50px;
}
.semantic-table-header-row {
  /* background-color: rgb(255, 30, 98); */
  
}
.dashboard {
  background-image: url('./images/t/bruce-mars-559226-unsplash.jpg') ;
  height: 90vh;
  background-size: contain;
  max-width:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: dodgerblue;
}

